
* {padding: 0; margin:0;}
html {height: 100%;}
body {height: 100%; background: gold;}
header{height: 10%; background: #233d4d;}
main{height: 80%; background: green;}
footer{height: 10%; background: #233d4d;}
article {height: 100%; background: #619b8a; width: 60%; float:left;}
aside {height: 100%; background: #233d4d;   width: 40%; float: right;}
article {overflow-y: scroll;}
article section {margin-bottom: 5%; padding-left: 2%;}
article section h1 {margin-bottom: 3%;}
article section p {padding-left: 3%;}

#logo, #space, #topic1,
#topic2, #topic3 {height: 100%; width: 20%; float: left;}
#logo img {max-height: 100%; max-width: 100%;}
#topic1, #topic2, #topic3, footer 
{
    color: lightgray;
    box-sizing: border-box;
    padding-top: 2%;
}
footer {text-align: center; padding-top:2%;}

img {border-radius: 1%;}
aside {text-align: center;}
.helper {
display: inline-block;
width: 0%;
height: 100%;
vertical-align: middle;
}
aside img { 
max-width: 95%; max-height: 99%; opacity: 0;
transition: opacity 500ms; vertical-align: middle;
}
main:hover aside img {opacity: 1;}

section img {max-height: 25%; max-width: 25%; margin-top: 1%;}
header {font-size: 120%;}
a {text-decoration: none; color: lightgray;}
